*{
    margin: 0;
    border: 0;
    box-sizing: border-box;

}
body{
    width:100%;
    height:100vh;
    background-color: #070A52;
    display: flex;
    justify-content: center;
}

h1{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,0);
    color:white;
    font-size: 3rem;    
    animation-name: anim ;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

}
@keyframes anim {
    0%{
          transform: translate(-50%,0) scale(2);
    }
    100%{
        transform: translate(-50%,0) scale(1);
    }
    
}
.con{
    width:40%;
    height:60%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #F15A59 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    animation-name: anim2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

}
@keyframes anim2{
    0%{
    transform: scale(0.5);
    }
    100%{
       
    }
}
.ip{
   border:2px solid black;
   width:90%;
   height:20%;
   margin:1%;
   border-radius: 10px;
   margin-top: 1%;
}
input{
    border-radius: 10px;
    height:100%;
    width:100%;
    text-align: right;
    font-size:30px;
}
.bt{
    width:90%;
   height:80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}
button{
    border-radius: 5px;
    background-color: #D21312;
    width:23%;
    height:15%;
    margin:1%;
    font-size: 20px;
   
}

button:active{
    background-color: #070A52;
    color:white;
}
.equ{
background-color:orangered;
color:white;
}
.op{
    background-color:#070A52;
    color:white;
}
.sp{
    color:white
}

@media  screen and (max-width:1000px) {
    .con{
        width:80%;
    }
}